.button {
    background-color: var(--blue);
    border: 2px solid transparent; 
    border-radius: .44rem;
    color: var(--white);
    display: inline-block;
    font-size: 1.5rem;
    font-weight: bold;
    padding: .75rem 1.5rem;
    text-decoration: none;
    white-space: nowrap;
}

.button:hover {
    border: 2px solid var(--green);
}
