/* variables */
:root {
    --blue: #006CFA;
    --green: #71F26D;
    --white: #ffffff;
}

/* fonts */
@font-face {
    font-family: Epilogue;
    src: url(../fonts/Epilogue-Regular.ttf);
}

@font-face {
    font-family: EpilogueBold;
    src: url(../fonts/Epilogue-Bold.ttf);
}

/* styles */
body {
    font-family: Epilogue;
}
h1, h2, h3, h4, h5, h6 {
    font-family: EpilogueBold;
}

