/* variables */
:root {
    --black: #121212;
    --blue: #006CFA;
    --green: #71F26D;
    --white: #ffffff;
}

/* fonts */
@font-face {
    font-family: Epilogue;
    src: url(../fonts/Epilogue-Regular.ttf);
}

@font-face {
    font-family: EpilogueBold;
    src: url(../fonts/Epilogue-Bold.ttf);
}

/* styles */
body {
    color: var(--white);
    font-family: Epilogue;
    font-size: 18px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: EpilogueBold;
    letter-spacing: 0.0115em;
}

p {
    line-height: 1.5em;
}

@media only screen and (max-width: 768px) {
    body {
        font-size: 16px;
    }
}

@media only screen and (max-width: 576px) {
    body {
        font-size: 14px;
    }
}
