/* START TITLEBAR STYLING */
.titlebar {
    align-items: center;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 3rem 2rem;
    z-index: 1;
}

.titlebarName {
    font-size: 2rem;
}
/* END TITLEBAR STYLING */

/* START HERO STYLING */
.hero {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.heroInformation {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    margin-top: -8rem;
    padding: 0 2rem;
}

.heroInformationGreeting {
    font-family: EpilogueBold;
    font-size: 3.33rem;
}

.heroInformationHand {
    animation: wave .35s 6 ease-in-out;
    display: inline-block;
}

.heroInformationDescription {
    font-size: 1.66rem;
    margin-top: 1.5rem;
    max-width: 50%;
}

.heroInformationDescriptionHighlight {
    color: var(--green);
    font-weight: bold;
}

.heroInformationButtons {
    margin-top: 2rem;
}

@media only screen and (max-width: 768px) {
    .heroInformationDescription {
        max-width: 75%;
    }
}

@media only screen and (max-width: 576px) {
    /*
    */

    .heroInformationDescription {
        max-width: 100%;
    }
}

@media only screen and (max-width: 392px){
    .heroInformation {
        justify-content: flex-start;
        margin-top: 0;
    }
}

@keyframes wave {
    from {
        transform: none;
    }

    50% {
        transform: rotate(45deg);
    }

    to {
        transform: none;
    }
}
/* END HERO STYLING */

/* START PROJECTS STYLING */
.projectList {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 5rem 0;
}
/* END PROJECTS STYLING */

/* START CONTACT STYLING */
.contact {
    background-color: var(--black);
    padding: 5rem 0;
}

.contactInformation {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 3rem;
    padding: 2.5rem 0;
}

.contactInformationEmail {
    font-family: EpilogueBold;
    font-size: 1.5rem;
}

.contactInformationResumeButton {
    margin-top: 1rem;
}
/* END CONTACT STYLING */

/* START SHARED STYLES */
.container {
    margin: 0 15%;
    width: 70%;
}
.sectionHeader {
    font-size: 2.66rem;
}

.sectionDescription {
    font-size: 1.33rem;
    margin-top: 1rem;
    max-width: 80%;
}

@media only screen and (max-width: 768px) {
    .container {
        margin: 0 10%;
        width: 80%;
    }
    
    .sectionDescription {
        max-width: 90%;
    }
}


@media only screen and (max-width: 576px) {
    .container {
        margin: 0 5%;
        width: 90%;
    }

    .sectionDescription {
        max-width: 100%;
    }
}

@media only screen and (max-width: 392px){
    .container {
        margin: 10rem 5% 0;
    }
}
/* END SHARED STYLES */
