.hero {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.titlebar {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 2rem;
}

.name {
    font-size: 2rem;
    padding: 1rem 0;
}

.information {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    padding: 2rem;
}

.greeting {
    font-family: EpilogueBold;
    font-size: 3.33rem;
}

.description {
    font-size: 1.66rem;
    margin-top: 1.5rem;
    max-width: 50%;
}

.highlight {
    color: var(--green);
    font-weight: bold;
}

.buttons {
    margin-top: 2rem;
}

.projects {
    background-color: rgba(18, 18, 18, 0.5);
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin: 5rem 15%;
    width: 70%;
}

.sectionHeader {
    font-size: 2.66rem;
}

.sectionDescription {
    font-size: 1.33rem;
    margin-top: 1rem;
}

@media only screen and (max-width: 768px) {
    .name {
        font-size: 1.75rem;
    }

    .greeting {
        font-size: 2.85rem;
    }

    .description {
        font-size: 1.35rem; 
        max-width: 80%;
    }

    .projects {
        margin: 5rem 10%;
        width: 80%;
    }
}

@media only screen and (max-width: 576px) {
    .name {
        font-size: 1.5rem;
    }

    .greeting {
        font-size: 2.25rem;
    }

    .description {
        font-size: 1.25rem;
        max-width: 100%;
    }

    .projects {
        margin: 5rem 5%;
        width: 90%;
    }
}

